<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <script src="https://kit.fontawesome.com/51a8c67162.js" crossorigin="anonymous"></script>
    <title>Navbar</title>
</head>

<body>
    <nav class="navbar">
        <div class="content">
          <div class="logo">
            <a href="#">CodingNepal</a>
          </div>
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>

    <script src="navbar.js"></script>
</body>

</html>